body{
	font-family: 'Google Sans',arial,sans-serif;
}
.card_login{
	width: 35%;
	margin: 0px auto;
	padding: 50px;
	height: 550px;
	margin-top: 200px;
}
.title{
	font-size: 28px;
}
.card_login h2{
	text-align: center;
}
.mdc-text-field{
	margin-top: 20px;
}
h2{
	font-weight: normal;
}
.profile{
	border: 1px solid gray;
	border-radius: 30px;
	margin: 0px auto;
	padding: 0px;
	float: left;
}
.email{
	float: right;
}
.profile img{
	margin: 8px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
span{
	margin-bottom: 10px;
}
.b1{
	background-color: #4285f4!important;
	font-size: 16px;
	float: right;
	color: white!important;
	padding: 10px 30px;
	border-radius: 5px;
	outline: none;
	border: none;
}
.b2{
	text-transform: initial;
	color: #4285f4!important;
	letter-spacing: 0;
	font-size: 16px;
	float: left;
	color: #1a73e8!important;
}
.mdc-text-field .mdc-text-field__input {
	caret-color:#1a73e8!important ;
}
.text{
	margin: 0px auto;	
	font-size: 14px;
}
.eng{
	margin-left: 150px;
}